<html>

<head>
</head>

<body>
    <h3><b>@@DateTime@@</b></h3>
    <h3><b>Ticket Nr.: @@TicketNr@@ </b></h3>
    <center>
    <p align="center">
    <b>@@NombreSucursal@@</b><br/>
    JUQUILA MALDONADO SANCHEZ<br/>
    RFC: MASJ980811NT8<br/>
    Regimen de personas fisicas con actividad empresarial<br/>
    @@DatosSuc1@@<br/>
    @@DatosSuc2@@<br/>
    @@DatosSuc3@@ - @@TelefonoSuc@@<br/></p></center>
    <p><span style="font-size: larger;">Detalle de la orden</span></p>
    <table width="90%">
        @@DetalleOrden@@
    </table>
    <center><p><h3>Total pagado:<br/>$@@Total@@</h3></center>
    </p>
    <p><center>
    <br/>
    <br/>
        Esta es una copia del ticket original.<br/>
        Documento sin efectos fiscales.<br/>
        Si requiere factura, solicitela el mismo dia<br/>
        Este establecimiento emite tickets en <br/>apego a lo previsto por las leyes vigentes.
    </center>
    </p>
    <h3><center>Muchas gracias por su compra!</h3></center><br/>
    <p><center>Ordena en linea:</center>
    <center><b>www.tacosroy.com</b></center></p>
</body>

</html>
