<html>

<head>
</head>

<body>
    <h3><b>@@DateTime@@</b></h3>
    <h3>Ticket Nr.: @@TicketNr@@ </b></h3>
    <h2>Mesa : @@NrMesa@@</h2>
    <p align="center">
    <b>@@NombreSucursal@@</b><br/>
    VLADIMIR MALDONADO RUIZ<br/>
    RFC: MARV701020AM0<br/>
    Regimen de personas fisicas con actividad empresarial<br/>
    @@DatosSuc1@@<br/>
    @@DatosSuc2@@<br/>
    @@DatosSuc3@@ - @@TelefonoSuc@@<br/></p>
    <p><span style="font-size: larger;">Detalle de la orden</span></p>
    <table width="90%">

        @@DetalleOrden@@

    </table>
    <p align="left"><h3>$@@Total@@</h3>
    @@TotalLetra@@<br/>
    Recibido: @@Recibido@@<br/>
    Cambio: $@@Cambio@@
    </p>
    <p><span align="center" style="font-size: smaller;">
        Documento sin efectos fiscales.<br/>
        Si requiere factura, solicitela el mismo dia por Whatsapp al @@TelefonoSuc@@. <br/>
        Este establecimiento emite tickets en <br/>apego a lo previsto por las leyes vigentes.
    </span></p>
    <span style="font-size: smaller;">
        Califica nuestro servicio y podras acceder antes que nada a promociones, premios y regalos.
    </span>
    <span style="font-size: smaller;">
        En caso que su cuenta no coincida, o presente algún problema, repórtela al @@TelefonoSuc@@ y su compra podrá ser gratis.<br/>
        Cualquier queja o sugerencia, repórtela al mismo número por favor.
    </span>
    </p>
    <h3>Muchas gracias por su compra!</h3>
    Ordena en linea:
    <b>www.tacosroy.com</b>
</body>

</html>
