<html>

<head>
</head>

<body>
    <h3><b>Fecha: @@DateTime@@</b></h3>
    <h3>Ticket Nr.: @@TicketNr@@</h3>
    <p align="center">
    <b>@@NombreSucursal@@</b><br/>
    JUQUILA MALDONADO SANCHEZ<br/>
    RFC: MASJ980811NT8<br/>
    Regimen de personas fisicas con actividad empresarial<br/>
    @@DatosSuc1@@ &nbsp; @@DatosSuc2@@  &nbsp; @@DatosSuc3@@ - @@TelefonoSuc@@<br/></p>
    <p><span style="font-size: larger;">Detalle de la orden</span></p>
    <table width="90%">

        @@DetalleOrden@@

    </table>
    <p align="left"><h3>Total a pagar: $@@Total@@</h3>
    @@TotalLetra@@<br/>
    </p>
    <p><span align="center" style="font-size: smaller;">
        Documento sin efectos fiscales.<br/>
        Si requiere factura, solicitela el mismo dia por Whatsapp al <h3>951-4269290</h3>. 
        Este establecimiento emite tickets en <br/>apego a lo previsto por las leyes vigentes.
    </span></p>
    <span style="font-size: smaller;">
        En caso que su cuenta no coincida, o presente algún problema, repórtela al @@TelefonoSuc@@ y su compra podrá ser gratis.<br/>
        Cualquier queja o sugerencia, repórtela al mismo número por favor.
    </span>
</body>

</html>
